In [2]:
import os
from bs4 import BeautifulSoup
import string
from nltk.tokenize import RegexpTokenizer
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.layers import Embedding, LSTM, Dense
from tensorflow.keras.models import Sequential
from keras.layers.core import Dense, Activation
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.optimizers import Adam
from keras.utils import to_categorical
import pickle
from keras.optimizers import RMSprop
import numpy as np
from numpy import array

2023-02-16 19:34:58.198841: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX512F AVX512_VNNI FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [3]:
documents = []
for file in os.listdir("reuters_data/"):
    
        filename = os.path.join("reuters_data", file)
        f = open(filename, 'r', encoding='utf-8', errors='ignore')
        dataFile = f.read()
        
        soup = BeautifulSoup(dataFile, 'html.parser')
        contents = soup.findAll('body')
        
        for content in contents:
            documents.append(content.text)

In [4]:
print('Number of documents: {}'.format(len(documents)))

Number of documents: 19043

In [5]:
print(documents[0])

Inco Ltd said it did not expect its
earlier reported removal from the Dow Jones industrial index to
make a major impact on the company's stock.
    "We don't think that individuals or institutions buy our
shares because we were one of the Dow Jones industrials,"
spokesman Ken Cherney said in reply to a query.
    Inco closed 1-3/8 lower at 19-3/8 in second most active
trading on the Toronto Stock Exchange.
    The Wall Street Journal, which selects the index, said Inco
was dropped to make the index more representative of the
market. Inco, the non-Communist world's largest nickel
producer, was a member of the index since 1928.
    Replacing Inco and Owens-Illinois Inc will be Coca-Cola Co
and Boeing Co, effective tomorrow.
    Nickel analyst Ilmar Martens at Walwyn Stodgell Cochran
Murray Ltd said Inco's removal from the index would likely
spark short-term selling pressure on the stock.
    "Some investors who have Inco may suddenly say, 'well,
because it's not now a Dow stock, we should eliminate that
investment,'" said Martens, although he added the move was
unlikely to have a serious long-term impact on Inco stock.
    Inco has struggled in recent years against sharply lower
nickel prices. Its net earnings fell to 200,000 U.S. dlrs in
1986 from 52.2 mln dlrs the previous year.
 Reuter


### Remove 'Reauter and ' from each document

In [6]:
new_doc = []
for d in documents:
    new_doc.append(d[:-8])
print(new_doc[0])

Inco Ltd said it did not expect its
earlier reported removal from the Dow Jones industrial index to
make a major impact on the company's stock.
    "We don't think that individuals or institutions buy our
shares because we were one of the Dow Jones industrials,"
spokesman Ken Cherney said in reply to a query.
    Inco closed 1-3/8 lower at 19-3/8 in second most active
trading on the Toronto Stock Exchange.
    The Wall Street Journal, which selects the index, said Inco
was dropped to make the index more representative of the
market. Inco, the non-Communist world's largest nickel
producer, was a member of the index since 1928.
    Replacing Inco and Owens-Illinois Inc will be Coca-Cola Co
and Boeing Co, effective tomorrow.
    Nickel analyst Ilmar Martens at Walwyn Stodgell Cochran
Murray Ltd said Inco's removal from the index would likely
spark short-term selling pressure on the stock.
    "Some investors who have Inco may suddenly say, 'well,
because it's not now a Dow stock, we should eliminate that
investment,'" said Martens, although he added the move was
unlikely to have a serious long-term impact on Inco stock.
    Inco has struggled in recent years against sharply lower
nickel prices. Its net earnings fell to 200,000 U.S. dlrs in
1986 from 52.2 mln dlrs the previous year.

### Join the documents

In [7]:
data = ""
for d in new_doc:
    data += d
len(data)

15775658

In [8]:
data = data.replace('\n', '').replace('\r', '').replace('\ufeff', '')
print('Data length:', len(data))
print(data[:100])

Data length: 15466792
Inco Ltd said it did not expect itsearlier reported removal from the Dow Jones industrial index toma

### Tokenization

In [9]:
tokenizer = Tokenizer()
tokenizer.fit_on_texts([data])
encoded_data= tokenizer.texts_to_sequences([data])[0]
encoded_data

[6910,
 109,
 4,
 10,
 259,
 40,
 674,
 31970,
 265,
 4166,
 21,
 1,
 2017,
 2261,
 431,
 508,
 3265,
 6,
 192,
 846,
 12,
 1,
 294,
 66,
 95,
 948,
 638,
 17,
 3005,
 60,
 1071,
 288,
 31971,
 150,
 95,
 52,
 54,
 2,
 1,
 2017,
 2261,
 8654,
 156,
 14334,
 20399,
 4,
 5,
 3835,
 3,
 6,
 8308,
 6910,
 667,
 15,
 39,
 56,
 271,
 23,
 282,
 39,
 56,
 5,
 383,
 266,
 15848,
 12,
 1,
 1799,
 66,
 94,
 1,
 1214,
 1215,
 4772,
 42,
 31972,
 1,
 508,
 4,
 31973,
 1173,
 3,
 308,
 1,
 508,
 83,
 1594,
 2,
 1927,
 6910,
 1,
 272,
 2934,
 1392,
 530,
 31974,
 27,
 6,
 600,
 2,
 1,
 508,
 219,
 20400,
 3495,
 6910,
 7,
 6513,
 1871,
 50,
 18,
 22,
 4417,
 3836,
 10283,
 1667,
 75,
 545,
 847,
 4565,
 614,
 31975,
 9795,
 23,
 24629,
 20401,
 31976,
 109,
 4,
 31977,
 4166,
 21,
 1,
 508,
 37,
 31978,
 416,
 214,
 482,
 720,
 12,
 1,
 66,
 107,
 342,
 198,
 49,
 6910,
 79,
 7712,
 400,
 31979,
 150,
 826,
 40,
 160,
 6,
 2017,
 66,
 95,
 207,
 2898,
 31980,
 6685,
 4,
 9795,
 528,
 28,
 135,
 1,
 439,
 12262,
 3,
 49,
 6,
 1450,
 247,
 214,
 846,
 12,
 6910,
 66,
 6910,
 33,
 17704,
 5,
 343,
 143,
 142,
 1049,
 31981,
 100,
 24,
 48,
 242,
 239,
 3,
 395,
 20,
 31,
 29,
 11,
 1864,
 21,
 739,
 30,
 8,
 11,
 1,
 472,
 26,
 6686,
 6687,
 827,
 127,
 3579,
 397,
 709,
 2,
 9017,
 2,
 4418,
 50,
 6,
 13155,
 1685,
 139,
 27,
 10855,
 5,
 2313,
 203,
 468,
 3,
 6,
 26,
 9018,
 260,
 5,
 9392,
 9,
 187,
 4167,
 5,
 6,
 50358,
 1777,
 6687,
 7406,
 5175,
 3,
 1122,
 2,
 10856,
 50359,
 915,
 5063,
 783,
 120,
 3106,
 7,
 24630,
 1549,
 364,
 28,
 27,
 61,
 10857,
 41,
 20,
 11,
 6687,
 27,
 1710,
 25,
 4945,
 24631,
 21,
 50360,
 198,
 52,
 445,
 3,
 1973,
 90,
 6,
 1778,
 2,
 50361,
 34,
 6,
 1996,
 9,
 2054,
 202,
 25,
 9017,
 5,
 6,
 5064,
 17,
 117,
 50362,
 50363,
 9,
 36,
 1487,
 4240,
 6,
 2152,
 2,
 31,
 29,
 2466,
 10284,
 4773,
 49,
 13156,
 6,
 5299,
 20402,
 31982,
 175,
 24632,
 3976,
 7,
 6,
 3976,
 315,
 3,
 1928,
 142,
 14335,
 10858,
 23,
 1,
 5533,
 3223,
 2466,
 1064,
 2,
 50364,
 6,
 282,
 26,
 1240,
 2647,
 198,
 2935,
 58,
 73,
 8003,
 3,
 24632,
 3976,
 1469,
 6,
 24633,
 807,
 2467,
 7,
 3634,
 50365,
 1,
 14335,
 4240,
 1,
 1200,
 160,
 2531,
 50366,
 1487,
 230,
 50367,
 417,
 1,
 5801,
 265,
 5,
 1,
 51,
 902,
 4772,
 24634,
 45,
 1102,
 150,
 5419,
 49,
 2262,
 50368,
 36,
 1487,
 4240,
 17,
 15849,
 12,
 1,
 14335,
 4240,
 361,
 787,
 223,
 4566,
 17705,
 2574,
 24635,
 6911,
 2972,
 2,
 245,
 24636,
 4,
 1,
 106,
 597,
 50369,
 1103,
 50370,
 1,
 223,
 61,
 24637,
 149,
 1167,
 1,
 3733,
 370,
 11532,
 5419,
 17,
 1,
 14335,
 4240,
 42,
 31983,
 31984,
 6,
 24638,
 8309,
 911,
 2,
 1,
 2467,
 1322,
 34,
 50371,
 117,
 22,
 252,
 5652,
 3,
 1928,
 693,
 142,
 6,
 5802,
 12263,
 8310,
 10284,
 23,
 1,
 2532,
 9,
 50372,
 5,
 4039,
 4,
 65,
 49,
 51,
 2167,
 17,
 50373,
 13157,
 253,
 429,
 605,
 247,
 214,
 1641,
 21,
 50374,
 1,
 50375,
 591,
 99,
 1,
 13157,
 45,
 188,
 725,
 9,
 6,
 14336,
 1,
 890,
 265,
 5,
 1,
 51,
 902,
 4772,
 24634,
 61,
 1267,
 17,
 125,
 1,
 1658,
 3635,
 2,
 20403,
 12,
 1,
 63,
 52,
 3456,
 545,
 5,
 31985,
 110,
 2,
 24639,
 3977,
 1,
 8004,
 415,
 17,
 1,
 377,
 2,
 13158,
 50376,
 5,
 47,
 563,
 863,
 7713,
 67,
 15,
 743,
 2018,
 50377,
 3977,
 5,
 1585,
 34,
 83,
 7,
 83,
 8005,
 198,
 49,
 725,
 7146,
 14337,
 439,
 149,
 1,
 8006,
 1376,
 17,
 45,
 23,
 1947,
 1058,
 50378,
 24639,
 3977,
 95,
 79,
 13159,
 6,
 1959,
 50379,
 47,
 1450,
 2467,
 65,
 4,
 4168,
 1,
 2152,
 597,
 19,
 6120,
 2091,
 50380,
 1267,
 17,
 7146,
 20404,
 377,
 591,
 9,
 6,
 717,
 180,
 5300,
 20405,
 2,
 50381,
 24639,
 3977,
 19,
 278,
 4774,
 9,
 8005,
 116,
 20406,
 143,
 2,
 8006,
 1,
 697,
 863,
 2424,
 21,
 123,
 3,
 2004,
 143,
 9019,
 3182,
 43,
 10,
 17706,
 247,
 86,
 1,
 377,
 2,
 20403,
 2443,
 5653,
 1641,
 6514,
 5176,
 401,
 24640,
 2,
 7146,
 20404,
 315,
 65,
 4,
 31,
 29,
 178,
 559,
 47,
 118,
 117,
 8655,
 848,
 5,
 7147,
 574,
 31,
 29,
 115,
 110,
 329,
 17707,
 2,
 6,
 39,
 15,
 30,
 132,
 168,
 629,
 171,
 208,
 4,
 528,
 63,
 1586,
 45,
 9,
 136,
 31,
 29,
 24641,
 1567,
 7,
 431,
 152,
 680,
 3,
 665,
 50382,
 386,
 501,
 60,
 964,
 566,
 1586,
 37,
 31986,
 9,
 1,
 63,
 1,
 208,
 4,
 953,
 49,
 3,
 22,
 9393,
 25,
 1,
 50383,
 2,
 50384,
 160,
 4,
 1677,
 3297,
 2393,
 4096,
 614,
 50385,
 362,
 279,
 329,
 1040,
 113,
 720,
 139,
 50386,
 1937,
 3,
 6,
 20407,
 363,
 203,
 379,
 110,
 7,
 7148,
 5,
 82,
 100,
 249,
 162,
 3034,
 482,
 50387,
 2224,
 566,
 6121,
 414,
 5,
 1,
 226,
 295,
 1117,
 50388,
 2140,
 198,
 58,
 331,
 279,
 329,
 50389,
 2409,
 416,
 1513,
 65,
 4,
 5177,
 13,
 4241,
 514,
 3457,
 7,
 99,
 65,
 703,
 50390,
 129,
 10,
 3107,
 22,
 17,
 1910,
 9,
 1,
 63,
 9394,
 4,
 9394,
 4,
 1,
 4097,
 1107,
 9,
 1,
 272,
 2068,
 31987,
 1087,
 80,
 13,
 9,
 6,
 196,
 2,
 77,
 64,
 3,
 77,
 62,
 14,
 3379,
 4567,
 614,
 31988,
 13160,
 4,
 6,
 1087,
 80,
 50391,
 63,
 1678,
 37,
 607,
 6,
 1035,
 3,
 88,
 329,
 50392,
 571,
 1,
 629,
 9,
 1,
 272,
 2068,
 493,
 2,
 1087,
 80,
 23,
 31989,
 56,
 3,
 15,
 30,
 14,
 431,
 152,
 7,
 1,
 1027,
 98,
 508,
 50393,
 45,
 129,
 3,
 665,
 903,
 2,
 67,
 77,
 41,
 14,
 20408,
 1087,
 80,
 18,
 3071,
 796,
 574,
 60,
 40,
 95,
 18,
 22,
 9020,
 4242,
 1,
 2298,
 13160,
 4,
 2598,
 3,
 6,
 6121,
 2298,
 5,
 50394,
 175,
 181,
 375,
 502,
 7,
 1092,
 39,
 502,
 1987,
 680,
 226,
 50395,
 23,
 181,
 44,
 502,
 139,
 61,
 848,
 3,
 88,
 329,
 2225,
 5,
 685,
 3,
 3496,
 379,
 110,
 13,
 1,
 2225,
 2,
 523,
 82,
 100,
 50396,
 20409,
 7,
 20410,
 329,
 614,
 4493,
 6688,
 6,
 296,
 662,
 379,
 110,
 7,
 363,
 82,
 100,
 20411,
 1927,
 21,
 5178,
 194,
 2,
 1,
 168,
 629,
 1,
 57,
 174,
 1927,
 4243,
 1,
 881,
 2,
 1,
 629,
 6688,
 4,
 5,
 583,
 9,
 335,
 3,
 2224,
 683,
 1,
 881,
 2,
 1,
 629,
 42,
 13,
 646,
 566,
 1720,
 5,
 1,
 226,
 295,
 1,
 523,
 50397,
 1124,
 3,
 1031,
 ...]

In [10]:
unique_words = np.unique(encoded_data)
print('Unique words length: ', len(unique_words))
unique_word_index = dict((c, i) for i, c in enumerate(unique_words))

Unique words length:  133585

### Feature engineering

In [12]:
WORD_LENGTH = 5
prev_words = []
next_words = []
    
for i in range(len(encoded_data) - WORD_LENGTH):
    prev_words.append(encoded_data[i:i + WORD_LENGTH])
    next_words.append(encoded_data[i + WORD_LENGTH])
print(prev_words[0])
print(next_words[0])

[6910, 109, 4, 10, 259]
40

### Define X and Y

In [13]:
X = np.zeros((len(prev_words), WORD_LENGTH, len(unique_words)), dtype=bool)
Y = np.zeros((len(next_words), len(unique_words)), dtype=bool)

In [ ]:
Y = to_categorical(Y, num_classes=len(unique_words))

### Build the model

In [21]:
model = Sequential()
model.add(LSTM(64, input_shape=(WORD_LENGTH, len(unique_words))))
model.add(Dense(len(unique_words)))
model.add(Activation('softmax'))

### Traing the model

In [ ]:
optimizer = RMSprop(lr=0.01)
model.compile(loss='categorical_crossentropy', optimizer=optimizer, metrics=['accuracy'])
history = model.fit(X, Y, validation_split=0.05, batch_size=50, epochs=20, shuffle=True).history

Epoch 1/20
  154/47126 [..............................] - ETA: 9:15:48 - loss: 0.0000e+00 - accuracy: 0.0065